<!-- app/views/orders/new.html.erb -->
<h1>Checkout</h1>
<%= form_with model: @order, local: true do |form| %>
  <%= form.hidden_field :order_date, value: Time.now %>
  <%= form.hidden_field :status, value: 'pending' %>
  <%= form.hidden_field :total_price, value: @cart.sum { |id, details| Product.find(id).price * details['quantity'] } %>
  <%= form.hidden_field :total_tax, value: @cart.sum { |id, details| Product.find(id).price * details['quantity'] * 0.05 } %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, required: true %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.collection_select :province_id, Province.all, :id, :name, required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Place Order' %>
  </div>
<% end %>

