<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Available Products</h1>


  <nav class="mb-6">
    <ul class="flex space-x-4">
      <li><%= link_to 'All Products', products_path, class: params[:filter].nil? ? "bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600" : "px-2 py-1 text-blue-500 hover:underline" %></li>
      <li><%= link_to 'On Sale', products_path(filter: 'on_sale'), class: params[:filter] == 'on_sale' ? "bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600" : "px-2 py-1 text-blue-500 hover:underline" %></li>
      <li><%= link_to 'New Products', products_path(filter: 'new'), class: params[:filter] == 'new' ? "bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600" : "px-2 py-1 text-blue-500 hover:underline" %></li>
      <li><%= link_to 'Recently Updated', products_path(filter: 'recently_updated'), class: params[:filter] == 'recently_updated' ? "bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600" : "px-2 py-1 text-blue-500 hover:underline" %></li>
    </ul>
  </nav>

  <% if @products.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @products.each do |product| %>
        <div class="border p-4 rounded-lg shadow">
          <div class="image-container">
            <% if product.image.attached? %>
              <%= image_tag product.image, class: "w-52 h-52 object-cover mb-2" %>
            <% else %>
              <div class="image-placeholder"></div>
            <% end %>
          </div>
          <h2 class="text-xl font-semibold mt-4"><%= link_to product.name, product_path(product) %></h2>
          <p class="mb-2"><%= product.description %></p>
          <p class="text-lg font-bold mb-2">Price: $<%= product.price %></p>
          <p class="mb-2">Stock: <%= product.stock_quantity %> items</p>
          <%= form_with url: add_to_cart_product_path(product), method: :post, local: true do |f| %>
            <%= number_field_tag :quantity, 1, min: 1, class: "w-16 p-2 border rounded mb-2" %>
            <%= f.submit 'Add to Cart', class: "bg-blue-500 text-white px-3 py-2 rounded" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mt-4">
      <%= paginate @products %>
    </div>
  <% else %>
    <p class="text-red-500 text-xl">No products found matching your search criteria.</p>
  <% end %>
</div>